# Iris Flower - Batch Prediction


In this notebook we will, 

1. Load the batch inference data that arrived in the last 24 hours
2. Predict the first Iris Flower found in the batch
3. Write the ouput png of the Iris flower predicted, to be displayed in Github Pages.

In [1]:
import pandas as pd
import hopsworks
import joblib

project = hopsworks.login()
fs = project.get_feature_store()

2024-12-25 16:07:51,689 INFO: Initializing external client
2024-12-25 16:07:51,690 INFO: Base URL: https://c.app.hopsworks.ai:443
2024-12-25 16:07:55,112 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1207459

In [2]:
mr = project.get_model_registry()
model = mr.get_model("iris", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/iris_model.pkl")

We are downloading the 'raw' iris data. We explicitly do not want transformed data, reading for training. 

So, let's download the iris dataset, and preview some rows. 

Note, that it is 'tabular data'. There are 5 columns: 4 of them are "features", and the "variety" column is the **target** (what we are trying to predict using the 4 feature values in the target's row).

In [3]:
feature_view = fs.get_feature_view(name="iris", version=1)

Now we will do some **Batch Inference**. 

We will read all the input features that have arrived in the last 24 hours, and score them.

In [4]:
import datetime
from PIL import Image

#the batch data is the feature data, i.e without the labels
batch_data = feature_view.get_batch_data()

y_pred = model.predict(batch_data)

y_pred

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.82s)

array(['Setosa', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Virginica',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Virginica'], dtype=object)

In [5]:
batch_data

     sepal_length  sepal_width  petal_length  petal_width
0        5.700000     3.800000      1.700000     0.300000
1        5.600000     2.700000      4.200000     1.300000
2        6.300000     3.300000      6.000000     2.500000
3        6.000000     2.900000      4.500000     1.500000
4        5.000000     3.000000      1.600000     0.200000
..            ...          ...           ...          ...
148      5.000000     3.400000      1.600000     0.400000
149      5.367117     4.434446      1.374910     0.497858
150      5.955304     4.018996      1.604284     0.689386
151      7.196996     3.110837      4.625643     1.508134
152      7.448898     2.857175      4.976424     2.492851

[153 rows x 4 columns]

Batch prediction output is the last entry in the batch - it is output as a file 'latest_iris.png'

In [6]:
#image of the predicted flower
flower = y_pred[y_pred.size-1]
flower_img = "assets/" + flower + ".png"
img = Image.open(flower_img)            

img.save("../../assets/latest_iris.png")

In [7]:
iris_fg = fs.get_feature_group(name="iris", version=1)
df = iris_fg.read()
df

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.03s)

     sepal_length  sepal_width  petal_length  petal_width     variety
0        5.700000     3.800000      1.700000     0.300000      Setosa
1        5.600000     2.700000      4.200000     1.300000  Versicolor
2        6.300000     3.300000      6.000000     2.500000   Virginica
3        6.000000     2.900000      4.500000     1.500000  Versicolor
4        5.000000     3.000000      1.600000     0.200000      Setosa
..            ...          ...           ...          ...         ...
148      5.000000     3.400000      1.600000     0.400000      Setosa
149      5.367117     4.434446      1.374910     0.497858      Setosa
150      5.955304     4.018996      1.604284     0.689386      Setosa
151      7.196996     3.110837      4.625643     1.508134  Versicolor
152      7.448898     2.857175      4.976424     2.492851   Virginica

[153 rows x 5 columns]

In [8]:
label = df.iloc[-1]["variety"]
label

'Virginica'

In [9]:
#image of the actual flower
label_flower = "assets/" + label + ".png"

img = Image.open(label_flower)            

img.save("../../assets/actual_iris.png")

In [10]:
import pandas as pd

monitor_fg = fs.get_or_create_feature_group(name="iris_predictions",
                                  version=1,
                                  primary_key=["datetime"],
                                  description="Iris flower Prediction/Outcome Monitoring"
                                 )

In [11]:
from datetime import datetime
now = datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

data = {
    'prediction': [flower],
    'label': [label],
    'datetime': [now],
}
monitor_df = pd.DataFrame(data)
monitor_fg.insert(monitor_df)

Uploading Dataframe: 100.00% |██████████| Rows 1/1 | Elapsed Time: 00:01 | Remaining Time: 00:00

Launching job: iris_predictions_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1207459/jobs/named/iris_predictions_1_offline_fg_materialization/executions

(Job('iris_predictions_1_offline_fg_materialization', 'SPARK'), None)

In [12]:
history_df = monitor_fg.read()
history_df

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.89s)

  prediction      label              datetime
0     Setosa     Setosa  12/25/2024, 14:00:12
1     Setosa     Setosa  12/25/2024, 14:29:16
2     Setosa     Setosa  12/25/2024, 14:35:42
3     Setosa     Setosa  12/25/2024, 14:40:29
4     Setosa     Setosa  12/25/2024, 14:49:43
5     Setosa     Setosa  12/25/2024, 15:51:42
6     Setosa     Setosa  12/25/2024, 14:58:58
7  Virginica  Virginica  12/25/2024, 16:05:59

In [13]:
import dataframe_image as dfi

df_recent = history_df.tail(5)
 
# If you exclude this image, you may have the same iris_latest.png and iris_actual.png files
# If no files have changed, the GH-action 'git commit/push' stage fails, failing your GH action (last step)
# This image, however, is always new, ensuring git commit/push will succeed.
dfi.export(df_recent, '../../assets/df_recent.png', table_conversion = 'matplotlib')

In [14]:
from sklearn.metrics import confusion_matrix

predictions = history_df[['prediction']]
labels = history_df[['label']]

results = confusion_matrix(labels, predictions)
print(results)

[[7 0]
 [0 1]]

In [15]:
from matplotlib import pyplot
import seaborn as sns

# Only create the confusion matrix when our iris_predictions feature group has examples of all 3 iris flowers
if results.shape == (3,3):

    df_cm = pd.DataFrame(results, ['True Setosa', 'True Versicolor', 'True Virginica'],
                         ['Pred Setosa', 'Pred Versicolor', 'Pred Virginica'])

    cm = sns.heatmap(df_cm, annot=True)

    fig = cm.get_figure()
    fig.savefig("../../assets/confusion_matrix.png") 
    df_cm
else:
    print("Run the batch inference pipeline more times until you get 3 different iris flowers")

Run the batch inference pipeline more times until you get 3 different iris flowers